---
import type { CollectionEntry } from "astro:content";
import TagList from "./TagList.astro";

interface Props {
  posts: CollectionEntry<"post">[];
}

const { posts } = Astro.props;
---

<h1 class="text-3xl font-semibold">Posts</h1>
<ul class="my-6 flex flex-col gap-6 text-xl">
  {
    posts.map((post) => (
      <li>
        <div class="flex justify-between">
          <a href={`/post/${post.slug}/`} class="underline hover:no-underline">
            {post.data.title}
          </a>
          <div class="text-sm text-gray-700 dark:text-gray-300 my-1">
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toDateString()}
            </time>
          </div>
        </div>
        <TagList tags={post.data.tags} />
      </li>
    ))
  }
</ul>
