---
import "../styles/global.css";
import Footer from "@/components/Footer.mdx";
import NavBar from "@/components/NavBar.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string | undefined;
}

const {
  title = "Prateek Kumar",
  description = "Prateek Kumar | Software Engineer | Rust and JavaScript",
  image = "https://static.prateek.page/images/profile.jpg",
} = Astro.props;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#123456" />
    <meta name="generator" content={Astro.generator} />

    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="shortcut icon" href="/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="Prateek" />
    <link rel="manifest" href="/site.webmanifest" />

    <title>{title}</title>
    <meta name="description" content={description} />
    <meta property="og:title" content={title} />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={image} />
    <meta property="og:url" content={Astro.url} />
    <link rel="sitemap" href="/sitemap-index.xml" />
    <style is:global>
      svg.icon {
        @apply inline;
      }
      mjx-container svg {
        @apply inline;
      }
    </style>
  </head>
  <body>
    <div
      class="antialiased font-sans text-gray-700 dark:text-gray-200 bg-gray-100 dark:bg-gray-800 min-h-screen"
    >
      <div class="container mx-auto flex justify-around min-h-screen">
        <div class="w-full max-w-screen-xl mx-4 flex flex-col">
          <NavBar />
          <div class="mb-6 flex-grow">
            <slot />
          </div>
          <Footer />
        </div>
      </div>
    </div>
  </body>
</html>
